<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>해설 강의 동영상 재생</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'commentor_style.css' %}">

    <!-- Bootstrap cdn 설정 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

    <nav>
        <h1 title="강의 제목">[VIDEO] {{ doc.title }}</h1>
        <button title="창 닫기">CLOSE</button>
    </nav>

    <section>
        <video src={{ helper.helper_audio.url }} id="myVideo" width='450' height='360' controls loop preload></video><br/>
        <class id="butt">
            <button id="prevSlide" title="이전 슬라이드 버튼">이전 슬라이드</button>
            <button id="prevPlay" title="6초 전 버튼">6초 전</button>
            <button id="videoPlay" title="재생 버튼">재생</button>
            <button id="videoStop" title="일시정지 버튼">일시정지</button>
            <button id="nextPlay" title="6초 후 버튼">6초 후</button>
            <button id="nextSlide" title="다음 슬라이드 버튼">다음 슬라이드</button>
        </class>
    </section>

    <aside>
        <h1>강의 영상 내 슬라이드 목록</h1>
        <h3>슬라이드 번호를 클릭하면 해당 시점으로 이동합니다</h3>

        <!--재생 옵션-->
        <div class="option_box">
            <form method="get" action="form-action.html">
                <span>옵션 : </span>
                <label><input type="checkbox" name="option" value="전체 설명 생략"> 전체 설명 생략</label>
            </form>
        </div>

        <!--슬라이드 목록 리스트가 생성될 공간-->
        <ol id='fruits' tabindex="1"></ol>
    </aside>

    <script>
    // video 오브젝트를 취득함.
    var video = document.getElementById("myVideo");

    var vid = document.getElementById("myVideo");
    var arr = new Array();

    //6초 전 클릭
    $("#prevPlay").on("click", function() {
    video.currentTime-=6;
    });

    //재생 클릭
    $("#videoPlay").on("click", function() {
    video.play();
    });

    //일시정지 클릭
    $("#videoStop").on("click", function() {
    video.pause();
    });

    //6초 후 클릭
    $("#nextPlay").on("click", function() {
    video.currentTime+=6;
    });

    //이전 슬라이드
    $("#prevSlide").on("click", function() {
      var time_cur = video.currentTime;
      time_cur *= 1;
      for(k = 0; k < arr.length-1; k++) {

        if(arr[k]<= time_cur && time_cur < arr[k+1]){
          video.currentTime = arr[k];
          break;
        }
        if(time_cur > arr[arr.length-1]){
          video.currentTime = arr[arr.length-1];
          break;
        }
      }
    });

    //다음 슬라이드
    $("#nextSlide").on("click", function() {
      var time_cur = video.currentTime;
      time_cur *= 1;
      //console.log(time_cur);
      //console.log(arr.length);
      //console.log(video.duration);
      for(k = 0; k < arr.length-1; k++) {

        if(arr[k]<= time_cur && time_cur < arr[k+1]){
          video.currentTime = arr[k+1];
          console.log(video.currentTime);
          break;
        }
        if(time_cur > arr[arr.length-1]){
          video.currentTime = video.duration;
          break;
        }
      }
    });

    function getCurTime() {
        alert(vid.currentTime);
    }

    $.ajax({
    url: '{{helper.helper_csv.url}}',
    dataType: 'text',
    }).done(successFunction);

    function successFunction(data) {
      var read_buffer = XLSX.read(data, {type : 'binary'});

      read_buffer.SheetNames.forEach(function(sheetName){
        var rowdata =XLSX.utils.sheet_to_json(read_buffer.Sheets[sheetName]);
        objKeyArr = Object.keys(rowdata);

        for(C = 0; C < objKeyArr.length; ++C) {
          console.log("time : "+ JSON.stringify(rowdata[C].mix_time));
          arr[C] = JSON.stringify(rowdata[C].mix_time);
        }
        for(B = 0; B < objKeyArr.length; ++B) {

          const addValue = B;

          // 2. 추가할 li element 생성
          // 2-1. 추가할 li element 생성
          const li = document.createElement("li");

          // 2-2. li에 id 속성 추가
          li.setAttribute('id',addValue);
          li.setAttribute('tabindex', addValue+2);
          li.setAttribute('onkeypress',"JavaScript:press(this.form)")

          // 2-3. li에 text node 추가
          const textNode = document.createTextNode(B+1+"번 슬라이드");
          li.appendChild(textNode);

          // 3. 생성된 li를 ol에 추가
          document
            .getElementById('fruits')
            .appendChild(li);

        }
      })

      $('li').on("click", function() {
        console.log($('li').index(this)+1);
        var idd= $('li').index(this)+1;

        for(A = 0; A < objKeyArr.length; ++A) {
          if(idd == A+1) {
            tt = Number(arr[A]);
            tt *=1;
            vid.currentTime=tt;
          }
        }

      });
    }
    </script>
</body>
</html>
